; https://git-scm.com

[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
	signingkey = "{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub"

{{ if (and .personal (eq .osid "darwin")) -}}

[credential "https://github.com"]
  helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = !/opt/homebrew/bin/gh auth git-credential

{{ end -}}

[alias]
  a = add
  b = branch
  c = clone
  co = checkout
  cob = checkout -b
  d = diff
  dc = diff --cached
  f = fetch
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = merge
  ol = log --pretty=oneline
  s = status -sb
  su = submodule update

[commit]
  template = "{{ .chezmoi.homeDir }}/.config/git/gitmessage"
  gpgsign = true

[core]
  excludesFile = "{{ .chezmoi.homeDir }}/.config/git/gitignore"

[init]
  defaultBranch = "main"
  templateDir = "{{ .chezmoi.homeDir }}/.config/git/template"

[git-extras "feature"]
{{- if .personal }}
  prefix = "hugginsio"
{{- else if .work }}
  prefix = "huggins"
{{ end }}
  separator = "/"

[gpg]
	format = ssh
