#!/bin/sh

# -e: exit on error
# -u: exit on unset variables
set -eu

echo "run_once_bootstrap_common"

{{ if eq .osid "darwin" -}}

echo "Detected: macOS"

{{ else if eq .osid "linux-debian" -}}

echo "Detected: Debian-like Linux"

sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y
sudo apt-get -y install --no-install-recommends git curl

{{ else -}}

echo "Detected: unsupported configuration \"{{ .osid -}}\""

{{- end -}}
