#!/bin/sh
# vim:ft=bash

# -e: exit on error
# -u: exit on unset variables
set -eu

echo "run_once_bootstrap_common"

{{ if eq .osid "darwin" -}}

echo "Detected: macOS"

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
EOF

{{ else if eq .osid "debian-like-linux" -}}

echo "Detected: Debian-like Linux"

sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y
sudo apt-get -y install --no-install-recommends git curl ripgrep fd-find

{{ else -}}

echo "Detected: unsupported configuration \"{{ .osid -}}\""

{{- end -}}
