# vi: ft=toml
{{/* feature flags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/*  true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/*  true if this machine is for personal use */}}
{{- $work := false -}}{{/*      true if this machine is for work use */}}

{{/* misc. values */}}
{{- $mfg := "unknown" -}}

{{/* combo OS ID, e.g. linux-debian */}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.idLike -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, or Coder workspaces */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "vscode" "root" "ubuntu" "coder") -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{-     $mfg = "apple" -}}
{{- end -}}

{{/* determine if personal, work, or neither */}}
{{- if not $ephemeral -}}
{{-     if eq .chezmoi.username "hugginsio" -}}
{{-         $personal = true -}}
{{-         $work = false -}}
{{-     else if eq .chezmoi.username "kylehuggins" -}}
{{-         $personal = false -}}
{{-         $work = true -}}
{{-     end -}}
{{- end -}}

{{- $name := "" -}}
{{- $email := "" -}}
{{- if or $personal $work -}}
{{-     $name = "Kyle Huggins" -}}
{{- end -}}
{{- if $personal -}}
{{-     $email = "kyle@huggins.io" -}}
{{- else if $work -}}
{{-     $email = "kyle.huggins@jbhunt.com" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    mfg = {{ $mfg | quote}}
    name = {{ $name | quote }}
    osid = {{ $osid | quote }}
    personal = {{ $personal }}
    work = {{ $work }}

[hooks.apply.post]
    command = "echo"
    args = ["Don't forget to reload!"]
