# vi: ft=config
# The next line must be blank.

{{ $nodePlugins := .packages.node.common -}}
{{ if .personal -}}
{{ $nodePlugins = concat $nodePlugins .packages.node.personal -}}
{{ end -}}
{{ range $nodePlugins -}}
{{   . }}
{{ end -}}
