#!/bin/sh # vi: ft=bash

# -e: exit on error
# -u: exit on unset variables
set -eu

echo "Installing Homebrew..."

mkdir -p ~/.local/bin

if [[ $(command -v brew) == "" ]]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update && brew upgrade && brew cleanup

echo "Installing essentials..."
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "jesseduffield/lazygit"
tap "homebrew/cask-fonts"

brew "bat"
brew "colima"
brew "coreutils"
brew "curl"
brew "fish"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "go"
brew "gpg"
brew "lazygit"
brew "neovim"
brew "ripgrep"
brew "starship"
cask "appcleaner"
cask "font-jetbrains-mono-nerd-font"
cask "microsoft-edge"
cask "raycast"

{{ if .work -}}
cask "task"
cask "taskwarrior-tui"
{{ end -}}

EOF
