; vi: ft=gitconfig

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

{{ if (and (and .personal (eq .osid "darwin")) (not .ephemeral)) -}}

[credential "https://github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential

{{ end -}}

[alias]
    a = add
    b = branch
    c = clone
    co = checkout
    cob = checkout -b
    d = diff
    dc = diff --cached
    f = fetch
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    m = merge
    ol = log --pretty=oneline
    s = status -sb
    su = submodule update

[commit]
    template = ~/.config/git/gitmessage

[core]
    excludesFile = ~/.config/git/gitignore

[init]
    defaultBranch = "main"

[githubflow "branch"]
    prefix = "huggins/"
