# vim:ft=toml

[".asdf"]
    type = "git-repo"
    url = "https://github.com/asdf-vm/asdf.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/eunuch/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-eunuch.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

["bin/"]
    type = "archive"
    {{ $nuVersion := (gitHubLatestRelease "nushell/nushell").TagName -}}
    {{ $nuArch := .chezmoi.arch -}}
    {{ if eq $nuArch "arm64" -}}
    {{     $nuArch = "aarch64" -}}
    {{ end -}}
    {{ $nuOs := .chezmoi.os -}}
    {{ if eq $nuOs "linux" -}}
    {{     $nuOs = "linux-gnu" -}}
    {{ end -}}
    url = "https://github.com/nushell/nushell/releases/download/{{ $nuVersion }}/nu-{{ $nuVersion }}-{{ $nuArch }}-{{ .mfg }}-{{ $nuOs }}.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
    executable = true

{{ if not .ephemeral -}}

["bin/gtask"]
    type = "archive-file"
    url = "https://github.com/go-task/task/releases/download/{{ (gitHubLatestRelease "go-task/task").TagName }}/task_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
    path = "task"
    refreshPeriod = "168h"
    executable = true

["bin/lazygit"]
    type = "archive-file"
    {{ $lgVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName -}}
    {{ $lgArch := .chezmoi.arch -}}
    {{ $lgOs := .chezmoi.os -}}
    {{ if eq $lgOs "linux" -}}
    {{     $lgOs = "Linux" -}}
    {{ else if eq $lgOs "darwin" -}}
    {{     $lgOs = "Darwin" -}}
    {{ end -}}
    url = "https://github.com/jesseduffield/lazygit/releases/download/{{ $lgVersion }}/lazygit_{{ substr 1 -1 $lgVersion }}_{{ $lgOs }}_{{ $lgArch }}.tar.gz"
    path = "lazygit"
    refreshPeriod = "168h"
    executable = true

[".config/fish/themes/Catppuccin Mocha.theme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/fish/main/themes/Catppuccin%20Mocha.theme"
    refreshPeriod = "168h"

[".config/k9s/skins/catppuccin-mocha.yaml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/k9s/main/dist/catppuccin-mocha.yaml"
    refreshPeriod = "168h"

[".config/fish/plugins/tide"]
    type = "archive"
    url = "https://github.com/IlanCosman/tide/archive/refs/tags/{{ (gitHubLatestRelease "IlanCosman/tide").TagName }}.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

[".config/fish/plugins/asdf"]
    type = "git-repo"
    url = "https://github.com/rstacruz/fish-asdf.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".config/fish/plugins/jump"]
    type = "git-repo"
    url = "https://github.com/mattgreen/jump.fish.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".config/fish/plugins/autopair"]
    type = "git-repo"
    url = "https://github.com/jorgebucaran/autopair.fish.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

["bin/taskwarrior-tui"]
    type = "archive-file"
    {{ $ttuiVersion := (gitHubLatestRelease "kdheepak/taskwarrior-tui").TagName -}}
    {{ $ttuiOs := .chezmoi.os -}}
    {{ if eq $ttuiOs "linux" -}}
    {{     $ttuiOs = "linux-gnu" -}}
    {{ end -}}
    url = "https://github.com/kdheepak/taskwarrior-tui/releases/download/{{ $ttuiVersion }}/taskwarrior-tui-x86_64-{{ .mfg }}-{{ $ttuiOs }}.tar.gz"
    path = "taskwarrior-tui"
    refreshPeriod = "168h"
    executable = true

[".vim/pack/hugginsio/start/characterize/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-characterize.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/dotenv/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-dotenv.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/fugitive/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-fugitive.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/speeddating/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-speeddating.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/surround/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-surround.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

["bin/kubectx"]
    type = "archive-file"
    {{ $kctxVersion := (gitHubLatestRelease "ahmetb/kubectx").TagName -}}
    url = "https://github.com/ahmetb/kubectx/releases/download/{{ $kctxVersion }}/kubectx_{{ $kctxVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
    path = "kubectx"
    refreshPeriod = "168h"
    executable = true

{{ end -}}
