# vim:ft=toml

[".vim/pack/hugginsio/start/eunuch/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-eunuch.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

["bin/"]
    type = "archive"
    {{ $nuVersion := (gitHubLatestRelease "nushell/nushell").TagName -}}
    {{ $nuArch := .narch -}}
    {{ if eq $nuArch "arm64" -}}
    {{     $nuArch = "aarch64" -}}
    {{ end -}}
    {{ $nuOs := .chezmoi.os -}}
    {{ if eq $nuOs "linux" -}}
    {{     $nuOs = "linux-gnu" -}}
    {{ end -}}
    url = "https://github.com/nushell/nushell/releases/download/{{ $nuVersion }}/nu-{{ $nuVersion }}-{{ $nuArch }}-{{ .mfg }}-{{ $nuOs }}.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
    executable = true

{{ if not .ephemeral -}}

["bin/lazygit"]
    type = "archive-file"
    {{ $lgVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName -}}
    {{ $lgArch := .narch -}}
    {{ $lgOs := title .chezmoi.os -}}
    url = "https://github.com/jesseduffield/lazygit/releases/download/{{ $lgVersion }}/lazygit_{{ substr 1 -1 $lgVersion }}_{{ $lgOs }}_{{ $lgArch }}.tar.gz"
    path = "lazygit"
    refreshPeriod = "168h"
    executable = true

[".vim/pack/hugginsio/start/characterize/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-characterize.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/dotenv/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-dotenv.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/fugitive/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-fugitive.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/speeddating/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-speeddating.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

[".vim/pack/hugginsio/start/surround/"]
    type = "git-repo"
    url = "https://github.com/tpope/vim-surround.git"
    clone.args = ["--depth", "1"]
    refreshPeriod = "168h"

{{ end -}}
