{{ if (and (not .ephemeral) (not .server)) -}}

["bin/"]
    type = "archive"
    {{ $nuVersion := (gitHubLatestRelease "nushell/nushell").TagName -}}
    {{ $nuArch := .narch -}}
    {{ if eq $nuArch "arm64" -}}
    {{     $nuArch = "aarch64" -}}
    {{ end -}}
    {{ $nuOs := .chezmoi.os -}}
    {{ if eq $nuOs "linux" -}}
    {{     $nuOs = "linux-gnu" -}}
    {{ end -}}
    url = "https://github.com/nushell/nushell/releases/download/{{ $nuVersion }}/nu-{{ $nuVersion }}-{{ $nuArch }}-{{ .mfg }}-{{ $nuOs }}.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
    executable = true

{{ end -}}
