{{ if (and (not .ephemeral) (not .server)) -}}

["bin/"]
    type = "archive"
    {{ $nuVersion := (gitHubLatestRelease "nushell/nushell").TagName -}}
    {{ $nuOs := .chezmoi.os -}}
    {{ if eq $nuOs "linux" -}}
    {{     $nuOs = "linux-gnu" -}}
    {{ end -}}
    url = "https://github.com/nushell/nushell/releases/download/{{ $nuVersion }}/nu-{{ $nuVersion }}-{{ .narch }}-{{ .mfg }}-{{ $nuOs }}.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
    executable = true

{{ if not (eq .chezmoi.os "windows") -}}

["bin/atuin"]
    type = "archive-file"
    {{ $atuinVersion := (gitHubLatestRelease "atuinsh/atuin").TagName -}}
    url = "https://github.com/atuinsh/atuin/releases/download/{{ $atuinVersion }}/atuin-{{ .narch }}-{{ .mfg }}-{{ .chezmoi.os }}.tar.gz"
    path = "atuin"
    stripComponents = 1
    refreshPeriod = "168h"
    executable = true

{{ end -}}

{{ end -}}
