# vim:ft=toml

{{ if (and (not .ephemeral) (not .server) .personal) -}}

["bin/lazygit"]
    type = "archive-file"
    {{ $lgVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName -}}
    {{ $lgArch := .narch -}}
    {{ $lgOs := title .chezmoi.os -}}
    url = "https://github.com/jesseduffield/lazygit/releases/download/{{ $lgVersion }}/lazygit_{{ substr 1 -1 $lgVersion }}_{{ $lgOs }}_{{ $lgArch }}.tar.gz"
    path = "lazygit"
    refreshPeriod = "168h"
    executable = true

{{ end -}}
