# vim:ft=toml

{{ if (and (not .ephemeral) (not .server)) -}}

{{ if (ne .osid "windows") -}}

["bin/kubectx"]
    type = "archive-file"
    {{ $kctxVersion := (gitHubLatestRelease "ahmetb/kubectx").TagName -}}
    {{ $kctxArch := .chezmoi.arch -}}
    {{ if eq $kctxArch "amd64" -}}
    {{     $kctxArch = "x86_64" -}}
    {{ end -}}
    url = "https://github.com/ahmetb/kubectx/releases/download/{{ $kctxVersion }}/kubectx_{{ $kctxVersion }}_{{ .chezmoi.os }}_{{ $kctxArch }}.tar.gz"
    path = "kubectx"
    refreshPeriod = "168h"
    executable = true

["bin/lazygit"]
    type = "archive-file"
    {{ $lgVersion := (gitHubLatestRelease "jesseduffield/lazygit").TagName -}}
    {{ $lgOs := title .chezmoi.os -}}
    {{ $lgArch := .chezmoi.arch -}}
    {{ if eq $lgArch "amd64" -}}
    {{     $lgArch = "x86_64" -}}
    {{ end -}}
    url = "https://github.com/jesseduffield/lazygit/releases/download/{{ $lgVersion }}/lazygit_{{ substr 1 -1 $lgVersion }}_{{ $lgOs }}_{{ $lgArch }}.tar.gz"
    path = "lazygit"
    refreshPeriod = "168h"
    executable = true

["bin/pkgx"]
    type = "archive-file"
    {{ $pkgxVersion := (gitHubLatestRelease "pkgxdev/pkgx").TagName -}}
    {{ $pkgxOs := .chezmoi.os -}}
    url = "https://github.com/pkgxdev/pkgx/releases/download/{{ $pkgxVersion }}/pkgx-{{ substr 1 -1 $pkgxVersion }}+{{ $pkgxOs }}+{{ .narch }}.tar.xz"
    path = "pkgx"
    refreshPeriod = "168h"
    executable = true

{{ end -}}

{{ end -}}
