# vi: ft=toml

{{ if not .ephemeral -}}

["bin/zellij"]
    type = "archive-file"
    {{ $zellijVersion := (gitHubLatestRelease "zellij-org/zellij").TagName -}}
    {{ $zellijArch := .chezmoi.arch -}}
    {{ if eq $zellijArch "arm64" -}}
    {{     $zellijArch = "aarch64" -}}
    {{ end -}}
    {{ $zellijOs := .chezmoi.os -}}
    {{ if eq $zellijOs "linux" -}}
    {{     $zellijOs = "linux-musl" -}}
    {{ end -}}
    url = "https://github.com/zellij-org/zellij/releases/download/{{ $zellijVersion }}/zellij-{{ $zellijArch }}-{{ .mfg }}-{{ $zellijOs }}.tar.gz"
    path = "zellij"
    refreshPeriod = "168h"
    executable = true

{{ end -}}
