#!/bin/sh
# vi: ft=bash

# -e: exit on error
# -u: exit on unset variables
set -eu

if command -v asdf &> /dev/null; then
  {{ range .packages.python.common -}}
      pip install -U -I --no-input {{ . }}
  {{ end -}}

  pre-commit init-templatedir ~/.config/git/template/
else
  echo "ERR! Python is not installed. Try re-applying your dotfiles."
fi
