#!/bin/sh
# vi: ft=bash

# -e: exit on error
# -u: exit on unset variables
set -eu

{{ if eq .osid "linux-ubuntu" -}}

{{ $packages := .packages.ubuntu.common -}}

{{ if not .ephemeral -}}
{{   $packages = concat $packages .packages.ubuntu.nonephemeral -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{ end -}}

{{ range .packages.ubuntu.ppa -}}
  {{ $sudo }}apt-add-repository -y {{ . }}
{{ end -}}

{{ $sudo }}apt-get update -y
{{ $sudo }}apt-get upgrade -y
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ end -}}
